.case {
  border-radius: 10px;
  border-color: black;
  background-color: lightgrey;
  height: 20em;
  width: 20em;
}

.cpu {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 5em;
  background-color: darkgrey;
  height: 5em;
  width: 5em;
}

.gpu {
  margin-bottom: .5em;
  background-color: blue;
  height: 1em;
  width: 10em;
}
