.itemDrawer {
  text-align: left;
  min-height: 340px;
  margin-bottom: 2em;
}
.itemDrawer--collapsed {
  text-align: left;
}
.itemDrawer__label {
  margin: 0;
}
.itemDrawer__buttons {
  float: right;
}
.itemDrawer__buttons svg {
  cursor: pointer;
  width: 2.25em;
  height: 2.25em;
}
.itemDrawer__checkButton {
  color: #2b6d5c;
}
.itemDrawer__trashButton {
  color: #80b1a5;
}
.itemDrawer__trashButton:hover {
  margin-top: -.1em;
  color: #334642;
  transform: rotate(360deg);
  transition: transform 0.5s;
}
