.item__button {
  border: none;
  outline: none;
  border-radius: 10px;
  background-Color: lightgrey;
  padding: 1em;
  transition: margin 0.1s ease-in;
}
.item__button:hover {
  position: relative;
  cursor: pointer;
  margin: -.5em 0;
  transition: margin 0.1s ease-in;
  background-color: darkgrey;
}
.item__button:focus {
  outline: none;
}
